p {
  font-size: 20px;
}

b {
  font-size: 50px;
}

#change-username, #add-user, #add-choice, #change-groupname, #exit-group, #delete-group{
  padding: 10px;
}
.ui-navbar ul li a {
  background-color: rgb(255, 165, 115) !important;
  border-color: rgb(255,131,62) !important;
}

.ui-navbar ul li a.ui-btn-active {
  background-color: rgb(255,131,62) !important;
  border-color: rgb(255,131,62) !important;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
  background: -webkit-linear-gradient(to left, rgb(255,131,62),rgb(255, 165, 115),rgb(255,131,62)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to left, rgb(255,131,62),rgb(255, 165, 115),rgb(255,131,62)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to left, rgb(255,131,62),rgb(255, 165, 115),rgb(255,131,62)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left,rgb(255,131,62),rgb(255, 165, 115),rgb(255,131,62)); /* Standard syntax */
  border-color: rgb(255,131,62) !important;
}
